html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  background-color: #00539F;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

body {
  width: 600px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  background-color: #FF9500;
  border: 5px solid black;
}

.body {
  color: red;
  text-align: center;
}

p[id] {
  width: 600px;
  text-align: center;
  border: 2px solid black;
}
  
.first-of-list {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  line-height: 2;
  letter-spacing: 3px;
  color: green;
}

#opening.first-of-list {
  color: blue;
}

a:hover {
  color:violet;
}